.table{
    width: 90%;
    margin: 10px 5% 100px 3%;
    border-collapse:collapse
}
.table thead{
    font-size: 1.2rem;
    background-color: rgba(57, 91, 100);
    height: 50px;
    text-align: center;
    color: white;
    border: 2px solid black;
}
.table tbody tr{
    height: 25px;
}
.table tbody tr:nth-child(2n){
    background-color: rgb(216, 233, 240);
}
.table tbody tr:hover {
    background-color: rgb(154, 215, 241);
    height: 30px;
}
.table tbody tr:last-child{
    border-bottom: 2px solid black;
}
.table tbody td{
    border-left: 2px solid black;
    border-right: 2px solid black;
}
